<h1>Quiz Manager</h1>
<h3>Login</h3>
<form action="/users/login" method="POST" class="login-form">
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <button type="submit">Login</button>
</form>
