<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav id="navbar">
      <img src="../public/images/logo.png" alt="logo"></img>
      <a href="/home">Home</a>
      <a href="/users/login">Login</a>
    </nav>
    {{{body}}}
    <script src='/javascripts/script.js'></script>
  </body>
</html>