<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav id="navbar">
      <a href="/" class="logo">LOGO</a>
      <a href="/">Home</a>
      <a href="/users/login">Logout</a>
    </nav>
    {{{body}}}
    <script src='/javascripts/script.js'></script>
  </body>
</html>