<h1>Question Added</h1>

<h1>New Answer</h1>
<form action="/answers" method="POST" target="_blank">
    <input type="text" placeholder="Answer" name="answer">
    <input type="text" placeholder="Question id" name="questionid">
    <input type="text" placeholder="Correct" name="correct">
    <button class="btn"  type="submit">Submit</button>
</form>