*::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

/*JS variables as colours*/
:root{
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0px;
  margin: 0px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: hsl(var(--hue), 100%, 20%); */
  /* background-color: navy; */
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-form input{
  margin: 20px;
}


body.correct{
  --hue: var(--hue-correct);
  /* background-color: green; */
}

body.incorrect{
  --hue: var(--hue-wrong);
  /* background-color: red; */
}

nav{
  margin-bottom: 50px;
}
nav a{
  margin: 10px 20px;
}
a{
  margin: 50px 20px 20px 20px;
}

.container{
  width: 800px;
  max-width: 80%;
  height: 80vh;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  display: flex;
  flex-direction: column;
  text-align: center;
} 

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

td{
  height: 50px;
}

.btn {
  margin: 20px;
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  border-color: black;
}

.btn.correct{
  background-color: greenyellow;
  /* background-color: hsl(var(--hue-correct) 100%, 50%); */
  /* --hue: var(--hue-correct); */
  /* color: black;  */
  }
.btn.incorrect{
  background-color: red;
  /* background-color: hsl(var(--hue-wrong) 100%, 50%); */
  /* --hue: var(--hue-wrong); */
} 

.start-btn, .next-btn{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}

.controls{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.hide{
  display: none;
} 

ul{
  list-style: none;
}
.btn a{
  margin-left: 10px;
}

.view-questions-container{
  height: 2000vh;
  display: flex;
  flex-direction: row;
  border: 1px solid #000;
  overflow: scroll;
}

.view-question{
  display: flex;
  flex-direction: column;
}
.view-question li{
  margin: 20px 10px;
}

.active{
  background-color: red;
}