<h1>Quiz Categories</h1>
<ul>
<li class="quiz-select">
    <div>Maths</div>         
    <button>Play</button> 
    <button>View</button> 
    <button>Edit</button> 
    <button>Delete</button>
<li>
<li class="quiz-select">
    <div>History</div>         
    <button>Play</button> 
    <button>View</button> 
    <button>Edit</button> 
    <button>Delete</button>
<li>
<li class="quiz-select">
    <div>Computer Science</div>  
    <button>Play</button> 
    <button>View</button> 
    <button>Edit</button> 
    <button>Delete</button>
<li>
</ul>