<h1>Update Quiz</h1>
<form action="/quiz-updated" method="POST">
    <input type="text" placeholder="Quiz title" name="title">
    <input type="text" name="title" placeholder="Update">
    <button class="btn"  type="submit">Submit</button>
</form> 
</ul>