<table id="buttons-group">
    <thead>
    <h1>Quiz Categories</h1>
    </thead>
    {{#each quiz}}
        <tr>
            <td>{{this.title}}</td>
            <td><a href="" class="btn">Play</a></td>
            <td><a href="" class="btn">View</a></td>
            <td><a href="" class="btn">Edit</a></td>
        </tr>
    {{/each}}
</table>

<a href="/quiz/new" class="btn">Create new quiz</a>


<a href="/quiz/delete" class="btn">Delete Quiz</a>


{{!-- <ul>
<li class="quiz-select">
    <div>Maths</div>         
    <button>Play</button> 
    <button>View</button> 
    <button>Edit</button> 
    <button>Delete</button>
<li>
<li class="quiz-select">
    <div>History</div>         
    <button>Play</button> 
    <button>View</button> 
    <button>Edit</button> 
    <button>Delete</button>
<li>
<li class="quiz-select">
    <div>Computer Science</div>  
    <button>Play</button> 
    <button>View</button> 
    <button>Edit</button> 
    <button>Delete</button>
<li>
</ul> --}}
  
