{{!-- <table>
    <thead>
        <th>Quiz name</th>
    </thead>
    {{#each quiz}}
        <tr>
            <td><a href="{{this.router.quizStart}}">{{this.title}}</a></td>
        </tr>
    {{/each}}
</table> --}}