<section class="view-questions-container">
  <ul class="view-question">
    <h3>Category: </h3>
    {{#each quiz}}
      <li>
        {{this.title}}
      </li>
    {{/each}}
  </ul>

  <ul class="view-question">
    <h3>Questions</h3>
    {{#each questions}}
      <li>
        {{this.questions}}
      </li>
    {{/each}}
  </ul>
  <ul class="view-question">
    <h3>Answers</h3>
    {{#each answer}}
      <li>
        {{this.answer}}
      </li>
    {{/each}}
  </ul>
</section>