  <section class="view-questions-container">
  <ul class="view-question">
    <h3>Questions</h3>
    {{#each questions}}
      <li>
        {{this.questions}}
      </li>
    {{/each}}
  </ul>
</section>
